[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Type=simple
ExecStart=/home/sinisa/.local/bin/kanata --cfg /home/sinisa/.config/kanata/config.kbd
Restart=no

[Install]
WantedBy=default.target
